<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<h3>Items in your shopping cart</h3>

<table>
  <% @cart.lineitems.each do |item|%>
    <tr>
      <td><%=item.quantity %></td>
      <td><%=item.product.name %></td>
    </tr>
  <%end%>
  <tr class='total_line'>
    <td colspan = "2">Total</td>
    <td><%=@cart.total_price%></td>
  </tr>
</table>

<%= button_to 'Empty Cart', @cart, method: :delete, data: {confirm: 'Are you sure?'} %>
<%= button_to 'Check Out', new_order_path, method: :get %>

