<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>
<h1>Stand Catalog</h1>

<% @products.each do |product| %>
<div class="entry">
    <%= image_tag(product.image)%>
    <h3><%= product.name %></h3>
    <p><%= product.description %></p><br>
    <div class="price price_line"><%= number_to_currency(product.price) %></div>
    <%= button_to 'Add to Cart', lineitems_path(product_id: product), class: 'add_to_cart btn btn-sm btn-outline-success float-right', remote: true %>
  </div>
<% end %>


